header {
    background: #3f51b5;
    color: #FFF;
    padding: 20px;
    width: calc(100vw - 40px);
}

.links-bar {
    text-align: center;
}

.link {
    color: #FFF;
    text-decoration: none;
}

.link:hover {
    color: orange;
}

.title {
    font-size: 50px;
    font-weight: 300;
    display: block;
    text-align: center;
    margin: 10px;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-top: 10px;
}