<div class="container">

    <!-- Foto y tecnologias -->
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.sm="0">
        <div fxFlex="40%">
            <img class="yo-img" src="../../../assets/yo.jpg">
        </div>
        <div class="section-2" fxFlex="60%" fxFlexOrder="3">
            <span class="tec section-title">Tecnologías</span>

            <br>

            <div fxLayout="row" 
                fxLayout.sm="column" 
                fxLayout.xs="column" 
                fxLayoutAlign="center">
                
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="far fa-keyboard"></i>
                        <br>
                        NET CORE
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="fab fa-angular"></i>
                        <br>
                        Angular 2
                    </div>
                </div>

            </div>
            <div fxLayout="row" 
                fxLayout.sm="column" 
                fxLayout.xs="column" 
                fxLayoutAlign="center">
                
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="fab fa-php"></i>
                        <br>
                        PHP
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="fas fa-database"></i>
                        <br>
                        SQL
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Estudios -->
    <span class="section-title">Estudios</span>
    <div class="section" 
        fxLayout
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.sm="0">
        <div fxFlex="40%">
            <div class="item-title">SECUNDARIO</div>
            <div class="item-subtitle">Liceo 9 S.D (2010 - 2014)</div>
        </div>
        <div class="item item-2" fxFlex="60%" fxFlexOrder="3">
            <div class="item-title">TECNICATURA EN PROGRAMACIÓN</div>
            <div class="item-subtitle">UTN (2015 - Actualidad)</div>
            <p>
                Actualmente estudio la carrera de Técnico Superior en Programación en la 
                Universidad Tecnológica Nacional. La carrera abarca diversos aspectos de 
                la programación tales como lenguajes de bajo nivel (C), de alto nivel (C#), 
                lenguajes Web (PHP, JavaScript-JQuery-AJAX, HTML5, CSS3) 
                y el manejo de bases de datos (SQL). También abarca el desarrollo de aplicaciones 
                móviles utilizando Ionic con Angular2, Firebase y ngCordova. 
                Me encuentro cursando el segundo y último año de la carrera.
            </p>
        </div>
    </div>

    <!-- Experiencia laboral -->
    <span class="section-title">Experiencia</span>
    <div class="section" 
        fxLayout
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="15px"
        fxLayoutGap.sm="0">
        <div fxFlex="33%" fxFlexOrder="3">
            <div class="item-title">EXPERIS</div>
            <div class="item-subtitle">Octubre 2016 - Diciembre 2016</div>
            <p>
                Contratado por Experis (ManpowerGroup) para un proyecto del grupo PSA (Peugeot)
                donde me desempeñe como desarrollador sobre la plataforma EKIP, utilizando Por*C 
                y PL/SQL para el manejos de bases de de bases de datos Oracle.
            </p>
        </div>

        <div fxFlex="33%" fxFlexOrder="3">
            <div class="item-title">AXOFT</div>
            <div class="item-subtitle">Diciembre 2016 - Diciembre 2017</div>
            <p>
                Desarrollo C# y Angular 2. Trabajé en el equipo de TangoCloud encargado 
                de desarrollar el nuevo framework de Tango.
            </p>
        </div>

        <div fxFlex="33%" fxFlexOrder="3">
            <div class="item-title">GCBA</div>
            <div class="item-subtitle">Diciembre 2017 - Abril 2019</div>
            <p>
                Desarrollo sobre el CRM Salesforce y de aplicaciones Angular en el ámbito de
                la Subsecretaría de Comunicación.
            </p>
        </div>

    </div>

</div>