<div class="container">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.sm="0">
        <div class="item item-1" fxFlex="40%">
            <img class="yo-img" src="../../../assets/yo.jpg">
        </div>
        <div class="item section-2" fxFlex="60%" fxFlexOrder="3">
            <span class="section-title">Tecnologías</span>

            <br>

            <div fxLayout="row" 
                fxLayout.sm="column" 
                fxLayout.xs="column" 
                fxLayoutAlign="center">
                
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="far fa-keyboard"></i>
                        <br>
                        NET CORE
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="fab fa-angular"></i>
                        <br>
                        Angular 2
                    </div>
                </div>

            </div>
            <div fxLayout="row" 
                fxLayout.sm="column" 
                fxLayout.xs="column" 
                fxLayoutAlign="center">
                
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="fab fa-php"></i>
                        <br>
                        PHP
                    </div>
                </div>
                <div fxFlex="50%">
                    <div class="item-container">
                        <i class="fas fa-database"></i>
                        <br>
                        SQL
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!--<div fxLayout
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.sm="0">
        <div class="item item-1" fxFlex="40%">
            <img class="yo-img" src="../../../assets/yo.jpg">
        </div>
        <div class="item item-2" fxFlex="60%" fxFlexOrder="3">

        </div>
    </div> -->

</div>